// Fuentes
$firstFont: 'Overpass', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXl: 1568px;

// Colores
$primary: hsl(25, 97%, 53%);
$secondary: #c7c57d;
$darkBlue: hsl(216, 12%, 8%);
$blue: hsl(213, 19%, 18%);
$black: #000;
$white: hsl(0, 0%, 100%);
$gray: 	hsl(216, 12%, 54%);
$lightGray: hsl(217, 12%, 63%);